<header>
  <img src = "/img/enteteSite.jpg" width="1000px" height="300px">

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Jeux Video</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ path('accueil') }}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if app.user %}
            <li class="nav-item">
              <a class="nav-link" href="#">Mon compte</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}">Me connecter</a>
            </li>
          {% endif %}

        </ul>

      </div>
    </nav>
</header>